<template>
  <div class="card">
    <img v-bind:src="card_image()" />
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    card: { type: Object, required: true },
  },
  methods: {
    card_id: function () {
      return this.card.id;
    },
    card_name: function () {
      return this.card.name;
    },
    card_type: function () {
      return this.card.type;
    },
    card_description: function () {
      return this.card.desc;
    },
    card_race: function () {
      return this.card.race;
    },
    card_archetype: function () {
      return this.card.archetype;
    },
    card_set_name: function () {
      return this.card.card_sets[0].set_name;
    },
    card_set_code: function () {
      return this.card.card_sets[0].set_code;
    },
    card_set_rarity: function () {
      return this.card.card_sets[0].set_rarity;
    },
    card_set_rarity_code: function () {
      return this.card.card_sets[0].set_rarity_code;
    },
    card_set_price: function () {
      return this.card.card_sets[0].set_price;
    },
    card_image: function () {
      return this.card.card_images[0].image_url;
    },
    card_image_small: function () {
      return this.card.card_images[0].image_url_small;
    },
    card_cardmarket_price: function () {
      return this.card.card_prices[0].cardmarket_price;
    },
    card_tcgplayer_price: function () {
      return this.card.card_prices[0].tcgplayer_price;
    },
    card_ebay_price: function () {
      return this.card.card_prices[0].ebay_price;
    },
    card_amazon_price: function () {
      return this.card.card_prices[0].amazon_price;
    },
    card_coolstuffinc_price: function () {
      return this.card.card_prices[0].coolstuffinc_price;
    },
  },
};
</script>

<style scoped>
img {
  transition: transform 0.3s;
  width: 100%;
}

img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
