<template>
  <div class="gallery">
    <Tools :sortTypeCards="cardsSortType" />
    <div>
      <div class="cards" v-if="search">
        <div v-for="(card, key) in organizeData" :key="key">
          <div v-if="research(card.name, search)">
            <Card class="card" v-bind:card="card" />
          </div>
        </div>
      </div>
      <div class="cards" v-else>
        <div v-for="(card, key) in organizeData" :key="key">
          <div v-if="key < 100">
            <Card class="card" v-bind:card="card" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "./Card.vue";
import Tools from "./Tools.vue";
export default {
  props: {
    dataCards: { Type: Object, required: true },
    cardsSortType: { Type: String, required: true },
    search: { Type: String, required: true },
  },
  components: { Tools, Card },
  computed: {
    organizeData: function () {
      const field = this.cardsSortType;
      let data = this.dataCards;
      if (field.includes("Name")) {
        const comparator = (a, b) => a.name.localeCompare(b.name);
        data = data.sort(comparator);
      }
      if (field.includes("Type")) {
        const comparator = (a, b) => a.type.localeCompare(b.type);
        data = data.sort(comparator);
      }
      if (field.includes("Race")) {
        const comparator = (a, b) => a.race.localeCompare(b.race);
        data = data.sort(comparator);
      }
      if (field.includes("ZA")) {
        data = data.reverse();
      }
      return data;
    },
  },
  methods: {
    research: function (word, s) {
      return word.includes(s);
    },
  },
};
</script>

<style>
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 30px;
  width: 100%;
}
</style>
