<template>
  <div id="api">
    <p v-if="loading">Loading...</p>
    <div v-else>
      <CardsGallery
        :dataCards="cardsData"
        :cardsSortType="cardsGallerySortType"
        :search="searchGallery"
      />
      <p v-if="error">{{ error }}</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CardsGallery from "./CardsGallery.vue";
import api from "../data/api.js";

export default {
  watch: {
    search: function (newSearch) {
      localStorage.setItem("searchGallery", newSearch);
    },
    cardsSortType: function (newSortType) {
      localStorage.setItem("cardsGallerySortType", newSortType);
    },
  },
  data() {
    return {
      loading: false,
      cardsData: null,
      error: "",
      searchGallery: localStorage.getItem("searchGallery") || "",
      cardsGallerySortType:
        localStorage.getItem("cardsGallerySortType") || "AZName",
    };
  },
  components: {
    CardsGallery,
  },
  created: function () {
    this.loading = true;
    axios
      .get(api.url)
      .then((res) => {
        this.loading = false;
        this.cardsData = res.data.data;
      })
      .catch((err) => {
        this.loading = false;
        this.error = err;
      });
  },
  methods: {
    research: function (word, s) {
      return word.includes(s);
    },
  },
};
</script>

<style>
#api {
  position: absolute;
  top: 27%;
  margin: 0;
  margin-top: 20px;
}
</style>
