<template>
  <div class="footer">all rights reserved by Talia'Kah</div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style>
.footer {
  text-align: center;
  font-size: 12px;

  background: rgb(209, 20, 20);
  width: 100%;
  height: 17px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 400px;
}
</style>
