<template>
  <div class="back">
    <img class="image" src="../assets/yugioh_logo_full.png" />
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style scoped>
.back {
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 17%;
}

.image {
  width: 50%;
  max-width: 370px;
  min-width: 250px;
  display: block;
  margin: 0px auto;
}
</style>
