<template>
  <div id="toolsearch">
    <input type="text" v-model="search" placeholder="Chercher une carte" />
    <button v-if="search" @click="cleanSearch">X</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
    };
  },
  methods: {
    cleanSearch: function () {
      this.search = "";
    },
  },
};
</script>
