<template>
  <div class="form">
    <label for="card-sort"> {{ sortTypeTitre }} </label>
    <select v-model="sortType" id="card-sort">
      <option v-for="data in sortTypeInfo" :key="data.id" :value="data.type">
        {{ data.desc }}
      </option>
    </select>
  </div>
</template>

<script>
import sortData from "../data/sort.js";
export default {
  data() {
    return {
      sortTypeTitre: sortData["Titre"],
      sortTypeInfo: sortData["Info"],
    };
  },
  props: {
    sortType: { Type: String, required: true },
  },
};
</script>
