<template>
  <div class="tool">
    <SearchTool />
    <SortTool :sortType="sortTypeCards" />
  </div>
</template>
<script>
import SearchTool from "./SearchTool.vue";
import SortTool from "./SortTool.vue";
export default {
  props: {
    sortTypeCards: { Type: String, required: true },
  },
  components: { SearchTool, SortTool },
};
</script>
<style scoped>
.tool {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  position: fixed;
  row-gap: 40px;
  column-gap: 30px;
  top: 16%;
  left: 0;
  height: 5%;
  width: 100%;
  background: rgb(209, 20, 20);
  z-index: 1;
}
</style>
