<template>
  <div id="app">
    <Header />
    <CardsApiController />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import CardsApiController from "./components/CardsApiController.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    Header,
    CardsApiController,
    Footer,
  },
};
</script>
